<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/styles.css">
<body>
<h3>Passenger Count</h3>
{% if records == None %}
<h4>Records Not Available</h4>
{% else %}
<table class="box">
    <tr>
        <th>train_number</th>
        <th>train_name</th>
        <th>passenger_count</th>
    </tr>
    {% for item in records %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
    </tr>
    {%endfor%}
</table>
{% endif %}
</body>
</html>